.container {
	width: 100%;
	height: 100%;
}

.panel {
	background-color: hsl(201, 30%, 13%);
}

.white {
	color: hsl(0, 0%, 100%) !important;
}

.grey {
	color: hsl(210, 16%, 93%) !important;
}

.clr-input {
	border-radius: 5px;
	border: 1px solid;
	width: 100%;
}

.clr-control-container {
	width: 95%;
}
