<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="Toggle" class="container">
  <div class="clr-row clr-justify-content-end">
    <div
      class="clr-col-sm-2 clr-col-xs-2 clr-col-md-2 clr-col-lg-2 clr-col-xl-2"
    >
      <div class="card panel">
        <div class="card-header">
          <h3 class="card-title white">Admin Panel</h3>
        </div>
      </div>
      <div class="card panel">
        <div class="card-block">
          <form class="clr-form clr-form-vertical">
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Player Coordinates</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{PlayerCoords}}
                  />
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Player Rotation</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{PlayerRotation}}
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <a href="javascript:void(0)" class="btn btn-sm btn-link">vector3</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link">vector4</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link">table</a>
        </div>
      </div>
      <div class="card panel">
        <div class="card-block">
          <form class="clr-form clr-form-vertical">
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Entity</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{Entity}}
                  />
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Entity Coords</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{EntityCoords}}
                  />
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Entity Rotation</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{EntityRotation}}
                  />
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Entity Model</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{EntityModel}}
                  />
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="example5" class="clr-control-label grey"
                >Entity Network ID</label
              >
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input
                    type="text"
                    id="example5"
                    placeholder=""
                    class="clr-input white"
                    readonly
                    value={{EntityNetworkID}}
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <a href="javascript:void(0)" class="btn btn-sm btn-link">vector3</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link">vector4</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link">table</a>
        </div>
      </div>
    </div>
  </div>
</div>
